*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  body{
    background: black;
    
  }
  .heading {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 10px;
  }

  

  details{
    color: red;
    display: block;
    font-size: 1rem;
  }

  details summary{
    font-weight: 900;
  }

  details li{
    display: inline-block;
    padding: 5px;
    background: red;
    border-radius: 3px;

    margin: 10px;
    
  }

  details li a{
    text-decoration: none;
    color: white;
    
  }

  details li a:active{
    color: red;
  }

  .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5px;
  }

  .container .main-video{
    background: black;
    border-radius: 5px;
    padding: 10px;
  }
  

  .container .main-video video{
    width: 100%;
    border-radius: 5px;
  }

  .container .main-video .title{
    color: white;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .container .video-list{
    background: black;
    border-radius: 5px;
    height: 320px;
    overflow-y: scroll;
  }




  .container .video-list::-webkit-scrollbar{
    width: 7px;
  }

  .container .video-list::-webkit-scrollbar-track{
    width: 50px;
  }

  .container .video-list::-webkit-scrollbar-thumb{
    width: #666;
    width: 8px;
  }


  .container .video-list .vid video{
    max-width: 200px;
    width: 50px;
    border-radius: 5px;
  }



  .container .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #000000;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid white;
    cursor: pointer;
  }

  .container .video-list .vid:hover{
    background: grey;
  }

  .container .video-list .vid.active{
    background: rgb(221, 5, 5);
  }

  .container .video-list .vid.active .title{
    color: #fff;
  }

  .container .video-list .vid .title{
    color: #333;
    font-size: 17px;
  }



  h3{
    color: white;
    text-align: center;
  }

  .container .description{
    grid-column: 1;
  }

  .container .description h4{
    color: white;
  
  }
  @media (max-width:991px){
    .container{
    grid-template-columns: 2fr 1fr;
    padding: 10px;
     }

     .container .video-list .vid.active .title{
    color:none;
  }

  }


  @media (max-width:768px){

    .heading {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 10px;
  }

  details{
    color: red;
    display: block;
    font-size: 0.9rem;
  }

  details summary{
    font-weight: 900;
  }

  details li{
    display: inline-block;
    padding: 5px;
    background: red;
    border-radius: 3px;

    margin: 10px;
  }

  details li a{
    text-decoration: none;
    color: white;
    font-size: 0.5rem;
    font-weight: 600;    
    text-align: center;
    }

  details li a:active{
    color: red;
  }


    .container{
    grid-template-columns:  1fr;
    padding: 10px;

     }



     .container .video-list{
    border-radius: 5px;
    height: 200px;
    overflow-y: scroll;
    max-height: 300px;
  }

  .container .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #000000;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid white;
    cursor: pointer;
  }

  .container .video-list .vid.active .title{
    color:none;
  }


  

  h3{
    font-size: 0.9rem;
    color: white;
    text-align: center;
  }



  .container .video-list::-webkit-scrollbar-track{
    display: none;
  }

  }

  button{
    grid-column: 1 ;
    background-color: red;
  }

  button:active{
    background-color: crimson;
  }
   